# Evaluación estadística para el Trabajo de grado

Trabajo de grado, Maestría en Administración Financiera.  
En el desarrollo del segundo objetivo del trabajo de grado (adaptar el modelo financiero escogido a la situación colombiana), surge la necesidad de evaluar el comportamiento de los precios de la energía, en el mercado regulado y en el no regulado.  
A continuación, se hace un análisis exploratorio de los datos de precios de la energía en Colombia de los últimos 20 años, para intentar modelar el comportamiento futuro.

## Objetivos
1. Evaluar si hay razones para trabajar con precios de bolsa o si es preferible quedarse sólo con los PPA.
1. Justificar qué tarifas (en particular, qué crecimiento de las tarifas) se van a tomar en los escenarios. 
1. Intentar predecir el comportamiento futuro de los precios de la energía.

In [1]:
# Importar librerías necesarias
# Tratamiento de datos
import pandas as pd
import numpy as np
import os
# Gráficos
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
# Preprocesado y modelado
from scipy import stats
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [9]:
IPC = pd.read_csv("IPC.csv", sep=";")
precios = pd.read_csv("precioenergia.csv", sep=";")

In [10]:
IPC.head()

,Mes,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Enero,50.42,53.54,56.45,59.02,61.80,65.51,70.21,71.69,74.12,...,83.00,89.19,94.07,97.53,100.60,104.24,105.91,113.26,128.27,138.98
1,Febrero,50.98,54.18,57.02,59.41,62.53,66.50,70.80,72.28,74.57,...,83.96,90.33,95.01,98.22,101.18,104.94,106.58,115.11,130.40,NaN
2,Marzo,51.51,54.71,57.46,59.83,63.29,67.04,71.15,72.46,74.77,...,84.45,91.18,95.46,98.45,101.62,105.53,107.12,116.26,131.77,NaN
3,Abril,52.10,54.96,57.72,60.09,63.85,67.51,71.38,72.79,74.86,...,84.90,91.63,95.91,98.91,102.12,105.70,107.76,117.71,132.80,NaN
4,Mayo,52.36,55.17,57.95,60.29,64.05,68.14,71.39,72.87,75.07,...,85.12,92.10,96.12,99.16,102.44,105.36,108.84,118.70,133.38,NaN

In [11]:
precios.head()

,Fecha,Precio Escasez de Activación,PPP Mercado No Regulado,PPP Mercado Regulado,Suma de Precio Bolsa Nacional Ponderado Diario
0,2004-02-11,NaN,64.337101,79.732294,73.388964
1,2004-02-12,NaN,64.344195,79.762210,73.236862
2,2004-02-13,NaN,63.904764,79.704978,69.876568
3,2004-02-14,NaN,63.919452,79.723403,74.297064
4,2004-02-15,NaN,63.746909,80.153817,74.413961